﻿.WrappingBox {
	width: 100%;
	height: 100%;
}
.HelpBox {
	padding-left: 30px;
	text-align: justify;
	width: auto;
	left: 300px;
	height: auto;
	position: absolute;
}
h1 {
	color: #009933;
	font-size: 28px;
	font-family: "AR PハイカラPOP体H04";
	margin-top: 2em;
	margin-bottom: 4px;
}
h2 {
	color: #009933;
	font-size: 14pt;
	text-indent: 1em;
	font-family: "AR PハイカラPOP体H04";;
	margin-bottom: 5px;
	margin-top: 30px;
}
h3 {
	color: #009933;
	font-size: 12pt;
	font-family: "AR PハイカラPOP体H04";
	text-indent: 2em;
	margin-top: 30px;
}
h4 {
	color: #009933;
	font-size: 11pt;
	font-family: "AR PハイカラPOP体H04";
	text-indent: 2em;
}
p {
	line-height: 28px;
	font-family: "ＭＳ ゴシック";
	font-size: 14pt;
	padding-left: 2em;
	margin-bottom: 0px;
	margin-top: 8px;
	padding-right: 2em;
	text-align: justify;
}
code{
	background-color: #DDDDDD;
}
img{
	border: 1px solid #C0C0C0;
}
blockquote{
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #C0C0C0;
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
}
strong{
	color: #FF99CC;
}
.H4Text
{
	padding-left: 3em;
	text-align: justify;
	font-family: "ＭＳ ゴシック";
	font-size: 9pt;
}
li {
	line-height: 28px;
	font-family: "ＭＳ ゴシック";
	font-size: 10.5pt;
	margin-top: 2px
}
